container_commands:
 01_migrate:
  command: "source /opt/python/run/venv/bin/activate && python /opt/python/current/app/manage.py migrate --noinput"
  leader_only: true
 02_createsu:
  command: "source /opt/python/run/venv/bin/activate && python /opt/python/current/app/manage.py pmd_createsu"
  leader_only: true
 03_collectstatic:
  command: "source /opt/python/run/venv/bin/activate && python /opt/python/current/app/manage.py collectstatic --noinput"
option_settings:
 "aws:elasticbeanstalk:application:environment":
  DJANGO_SETTINGS_MODULE: "pmd.settings"
  "PYTHONPATH": "/opt/python/current/app/pmd:$PYTHONPATH"
  "ALLOWED_HOSTS": ".elasticbeanstalk.com"
 "aws:elasticbeanstalk:container:python":
  WSGIPath: pmd/wsgi.py
