container_commands:
  01_get_env_vars:
    command: "source /opt/python/run/venv/bin/activate && source /opt/python/current/env"
    leader_only: true
  02_collectstatic:
   command:  "source /opt/python/run/venv/bin/activate && python /opt/python/current/app/manage.py collectstatic --noinput"
option_settings:
 aws:elasticbeanstalk:container:python:
  WSGIPath: pmd/wsgi.py
