container_commands:
 01_install_nvm:
  command: "curl -o- https://raw.githubusercontent.com/creationix/nvm/v0.32.0/install.sh | bash"
  leader_only: true
 02_activate_nvm:
  command: ". ~/.nvm/nvm.sh"
  leader_only: true
 03_install_nodejs:
  command: "nvm install 11.1.0"
  leader_only: true
 04_upgrade_npm:
  command: "npm install -g npm"
  leader_only: true
